.page-title {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.hidden {
  display: none !important;
}

#closeWindow {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  font-size: 2.8rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

#recipePopUp {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(186, 63, 19);
  width: 52%;
  height: 90%;
  border-radius: 5%;
}

#recipeTitle {
  margin-top: 5rem;
  color: white;
  font-weight: bold;
  font-size: 2.1rem;
  font-weight: bold;
  font-style: italic;
}

#recipeMainIngredient {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1.6rem;
}

#recipeInstructions {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1c1b1b;
  width: 85%;
}

#recipeImage {
  margin-top: 1.4rem;
  border: none;
  border-radius: 48%;
  width: 140px;
  height: 120px;
}

#recipeVideo {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
}

#recipeVideo:hover {
  color: rgb(8, 156, 15);
}

.page-title p {
  color: rgb(163, 161, 158);
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: 400px;
}

.search-bar {
  display: inline-flex;
}

.search-bar input {
  width: 300px;
  border-color: rgb(255, 123, 0);
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  text-align: center;
}

.search-bar input:focus {
  border-color: rgb(255, 123, 0);
  border-width: 2px;
  outline: none;
}

.search-bar button {
  width: 60px;
  color: white;
  background-color: rgb(255, 123, 0);
  height: 30px;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 30px;
}

.foods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.meal {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(237, 235, 231);
  width: 400px;
}

.recipe-button {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: rgb(193, 58, 0);
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}
